.cards{
    margin-top: 45px;
}
.cards ul{
    text-decoration: none;
    list-style: none;
    text-align: center;
}
.card1{
    background-color: #DBEEE7;
}
.card2{
    background-color: #DBE7F1;
}
.card3{
    background-color: #F3E6DF;
}
.cardConfig{
    padding:20px 0px;
}
.cardConfig .money{
    font-size: 15pt;
}
.cardConfig img{
    height: 60px;
    width: auto;
}
.tabela {
    margin-top:45px;
}
.tabela table thead tr{
    background-color: #A4BC83;
    color:#fff;
    font-weight: bold;
}
.tabela table tbody tr{
    border:none;

    -webkit-box-shadow: 0px 12px 26px -12px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 12px 26px -12px rgba(0,0,0,0.28);
    box-shadow: 0px 12px 26px -12px rgba(0,0,0,0.28);   
}
.tabela table tbody tr td{
    padding:12px 5px;
}
.tabela table tbody tr:hover{
    background-color: #d8d8d8;
}